<!DOCTYPE hibernate-configuration PUBLIC  
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"  
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- 配置数据库连接 -->
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/employees</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">root</property>
  
    <!-- hibernate 可选项信息 -->
		<!-- 数据库Dialect -->
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		
		<!-- 映射文件信息 -->
		<mapping resource="com/senso/pojo/Title.hbm.xml" />
		<mapping resource="com/senso/pojo/Employee.hbm.xml" />
	</session-factory>
</hibernate-configuration>