<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.senso.mybatis.userMapper">
  
  <insert id="addUser" parameterType="com.senso.po.User">
    insert into Users(name, age, createdAt) values(#{name}, #{age}, now())
  </insert>
  
  <delete id="deleteUser" parameterType="int">
    delete from Users where id=#{id}
  </delete>
  
  <update id="updateUser" parameterType="com.senso.po.User">
    update Users set name=#{name}, age=#{age} where id=#{id}
  </update>
  
  <select id="getUser" resultType="com.senso.po.User">
    select * from Users where id=#{id}
  </select>
  
  <select id="getAllUsers" resultType="com.senso.po.User">
    select * from Users order by id desc
  </select>
</mapper>